<mat-card>
  <mat-card-header>
    <h2>Customer</h2>
  </mat-card-header>
  <table mat-table [dataSource]="datasource">
    <ng-container
      matColumnDef="{{ innercolumn }}"
      *ngFor="let innercolumn of displayColums"
    >
      <th mat-header-cell *matHeaderCellDef>{{ innercolumn }}</th>
      <th mat-cell *matCellDef="let element">{{ element[innercolumn] }}</th>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayColums" style="background-color: rebeccapurple;"></tr>
    <tr mat-row *matRowDef="let row; columns: displayColums"></tr>
  </table>
</mat-card>
